html, body, ul, p {
    padding: 0;
    margin: 0;
}

html {
    width: min(90ex, 100%);
    margin: 0 auto 0 auto;
}

body {
    padding: 10em 0 16em 0;
    margin: 0 1em 0 1em;
    font-family: trebuchet ms, sans-serif;
    line-height: 133%;
}

img.figure, iframe, code {
    background-color: #e8e8e8;
}

code.shade, p.shade {
    background-color: #f7cccc;
}

img.figure {
    width: 97%;
    padding: 2% 2% 2% 1%;
}

iframe {
    width: 96%;
    aspect-ratio: 16 / 9;
    padding: 2%;
    border: 0;
}

code, p.shade {
    overflow: auto;
    padding: 2%;
    color: black;
    display: block;
}

code.nowrap {
    white-space: nowrap;
}

h1 {
    margin: 0 0 2.4em 0;
    line-height: 120%;
    text-align: center;
    font-size: 150%;
    font-family: trebuchet ms;
}

img#faces {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto 1.2em auto;
}

div#authors {
    text-align: center;
    font-style: italic;
}

div#journal {
    margin: auto;
    text-align: center;
    margin: 2em 0 2em 0;
    border: 1px solid #e0e0e0;
}

ul#top {
    text-align: center;
    margin-bottom: 1em;
}

ul#top a {
    color: #73B0E4;
}

ul#top li {
    margin: 0 0.5ex 0 0.5ex;
    list-style-type: none;
    display: inline-block;
}

h2 {
    text-align: right;
    font-size: 100%;
    margin-top: 6em;
    margin-bottom: 0.2em;
}

p + p {
    padding-top: 1.5em;
}

.justify {
    text-align: justify;
}

a {
    color: blue;
}
